:root{
    font-size:62.5%;
    --vert-foncé:#395144;
    --vert:#4f9129;
    --blanc-cassé:#f0ebce;
    --sable:#c8ae7d;
    --maron:#765827;
}
/* body */

/* section n°1 */

h1{
    text-align: center;
    padding: 12rem;
    font-size: 10rem;
    text-transform: uppercase;
    text-shadow:1px 4px var(--sable)
}

.boutique-titre {
    background-image: url(../img/ant-gbc13fb987_1920.jpg);
    background-position: center;
    background-size: cover;
    margin: 10rem;
    border: solid 8px var(--vert-foncé);
    border-radius: 20px;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.847);
}
section:nth-child(3){
    margin-inline: 11rem 11rem;
}
aside{
    background-color: var(--maron);
    border: solid 3px rgb(60, 42, 14);
    border-radius: 15px;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.847);
}
aside a{
    text-decoration: none;
    color: var(--blanc-cassé)
}
.les-liens div div{
    margin-inline: 40px 40px;
    margin-bottom: 40px;
    height: 150px;
    border: solid 5px var(--vert-foncé);
    border-radius: 15px;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.847);
    
}
.les-liens div div a{
    font-weight: bold;
    text-decoration: none;
    color: var(--vert-foncé);
    font-size: xx-large;
    text-shadow:1px 4px var(--sable)
}
#les-liens1{
    background-image: url(../img/fourmi-jardin.jpg);
    background-size: 500px;
    background-position: center;
}
#les-liens2{
    background-image: url(../img/fourmilierearboricole.jpg);
    background-size: 500px;
    background-position: center;
}
#les-liens3{
    background-image: url(../img/fourmis-04.webp);
    background-size: 500px;
    background-position: center;
}
#les-liens4{
    background-image: url(../img/fourmis_lasius_sp.webp);
    background-size: 500px;
    background-position: center;
}
#les-liens1:hover{
    background-image: url(../img/fourmi-jardin.jpg);
    background-size: 700px;
}
#les-liens2:hover{
    background-image: url(../img/fourmilierearboricole.jpg);
    background-size: 700px;
}
#les-liens3:hover{
    background-image: url(../img/fourmis-04.webp);
    background-size: 700px;
}
#les-liens4:hover{
    background-image: url(../img/fourmis_lasius_sp.webp);
    background-size: 700px;
}
