:root{
    font-size:62.5%;
    --vert-foncé:#395144;
    --vert:#4f9129;
    --blanc-cassé:#f0ebce;
    --sable:#c8ae7d;
    --maron:#765827;
}

body{
    
    background-color: var(--blanc-cassé);
}

/* header et navbar */
nav{
    font-size: large;
}
nav a {
    text-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
    color: var(--blanc-cassé) !important;
}
header{
    position: fixed;
    z-index: 10;
    width: 100%;
}
.logo-nav{
    width: 10rem;
}
.navbar-toggler{
    background-color: #4f9129;
    width: 100px;
}
#right-nav{
    background-color: var(--vert-foncé);
    border-radius: 10px 0 10px 10px;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.847);
    padding: 9px;
}
#right-nav button{
    font-size: small;
    color: var(--blanc-cassé);
    font-weight: 500;
}
#right-nav button:hover{
    color: var(--vert);
}

#right-nav input{
    background-color: var(--sable);
    border: var(--sable);
    border-radius: 10px 0 10px 10px;
    
}
#left-nav{
    background-color: var(--vert-foncé);
    border-radius: 0 10px 10px 10px;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.847);
    margin: 10px;
}
.dropdown-menu{
    background-color: var(--vert-foncé);
    border-radius: 0 20px 20px 20px;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.847);
}
.nav-item a:hover{
    color: var(--vert)!important;
    
}
.dropdown-menu a:hover {
    background-color: #395144;
    border-radius: 0 20px 20px 20px; 

}


/* ***************************************************** */

/* footer */

/* **************************************************** */