*{
    box-sizing: border-box;
}

:root{
    font-size:62.5%;
    --vert-foncé:#395144;
    --vert:#4f9129;
    --blanc-cassé:#f0ebce;
    --sable:#c8ae7d;
    --maron:#765827;
}

body{
    background-color: var(--blanc-cassé);
}


/* ***************************************************** */

/* main */

/* section:first-child */

h1 img{
    width: 1000px;
    filter: blur();
    filter: drop-shadow(0 -6mm 4mm rgb(57, 57, 57));
}

.carousel-inner h2{
    font-size: 6rem;
    padding-bottom: 4rem;
    color: var(--blanc-cassé);
}

