

:root{
    font-size:62.5%;
    --vert-foncé:#395144;
    --vert:#4e6c50;
    --blanc-cassé:#f0ebce;
    --sable:#c8ae7d;
    --maron:#765827;
}

body{
    background-color: var(--blanc-cassé);
}

/* header */

.logo-nav{
}

/* ***************************************************** */

/* main */

/* ***************************************************** */

/* footer */

/* **************************************************** */